* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  line-height: 1.5;
  color: #333;
  background-image: url('fundo_de_culinaria.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.toda-receita {
  width: 90%;
  max-width: 800px;
  background-color: white;
  border: 2px solid #ffcc80;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.toda-receita img {
  display: block;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 0 auto 30px;
  border-radius: 15px;
  border: 1px solid bisque;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

.toda-receita img:hover {
  transform: scale(1.05);
}

.omelete-simples,
.preparo,
.ingredientes,
.instrucoes,
.nutricao {
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.omelete-simples {
  background-color: oldlace;
}

.omelete-simples h2 {
  text-align: center;
  color: darkslategrey;
  margin-bottom: 10px;
}

.preparo {
  background-color: bisque;
}

.preparo h3,
.instrucoes h3 {
  color: chocolate;
  text-align: center;
}

.ingredientes {
  background-color: oldlace;
}

.ingredientes h3,
.nutricao h3 {
  color: darkslategrey;
}

.instrucoes {
  background-color: bisque;
}

.nutricao {
  background-color: oldlace;
}

li, ol {
  margin-left: 20px;
  margin-top: 10px;
}

td, table {
  border: 1px solid black;
  padding: 5px;
  margin: 0 auto;
  border-collapse: collapse;
}

/* Responsividade e Layout Flexível */

.ingredientes-instrucoes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .ingredientes-instrucoes {
    flex-direction: row;
    justify-content: space-between;
  }

  .ingredientes,
  .instrucoes {
    width: 48%;
  }

  .toda-receita {
    padding: 30px;
  }
}

@media (min-width: 1024px) {
  .toda-receita {
    max-width: 900px;
  }
}
